<nav class="navbar-parent">
  <nav class="navbar">
    <a class="nav-link" href="/index.html">ホーム</a>
    <a class="nav-link" href="/index/shimuke.html">仕向送金</a>
    <a class="nav-link" href="/index/hishimuke.html">被仕向送金</a>
    <a class="nav-link" href="/index/gaikayokin.html">外貨預金</a>
    <a class="nav-link" href="/index/gaikaryogae.html">外貨両替</a>
    <a class="nav-link" href="/index/maneron.html">マネロン関連</a>
    <a class="nav-link" href="/index/iso20022.html">ISO20022について</a>
    <a class="nav-link" href="/index/others.html">その他</a>
  </nav>
</nav>
